.import-button {
	margin-top: 20px;
	margin-left: -90px;
}

.download-template-button {
	margin-top: 20px;
	margin-left: -8px;
	text-decoration: none;
}
.download-template-button a {
	color: white;
}

.filter-button {
	margin-top: 21px;
	margin-left: -8px;
	text-decoration: none;
}

.clear-button {
	margin-top: 21px;
	margin-left: 7px;
	text-decoration: none;
}

.table-calculate {
	border-collapse: separate;
	border: 1px solid black;
    border-radius:6px;
	width: 100%;
}
.table-calculate th, td {
	padding: 8px !important;
}

.title-table-calculate {
	background-color: #3EB0F4;
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.header-table-calculate {
	background-color: #77BAE1;
	color: black;
	font-weight: bold;
	text-align: center;
}

.detail-table-calculate.light {
	background-color: white;
}

.detail-table-calculate.dark {
	background-color: #EAEBEC;
}

.detail-table-calculate:hover {
	background-color: #CBE5FF;
}


.dashboard-wrapper {
	width: 100%;
}

.dashboard-box {
	border-collapse: separate;
    border-radius:6px;
	width: 100%;
	background-color: #e1e8ef;
}

.dashboard-box-icon {
	text-align: center;
	width:50%;
}

.dashboard-box-text {
	font-size: 20px;
	font-weight: bold;
}

.dashboard-box-value {
	font-size: 30px;
	font-weight: bold;
}
